body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #8D8D8D;*/
  background-color: white;
}

.all-screen {
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-info {
  width: 56%;
  height: 46%;
}


/*ANIMATION*/
.anim-show-slow {
  animation: 1s show-slow ease;
}

@keyframes show-slow {
  from { opacity: 0; }
  to { opacity: 1; }
}

.anim-show-slow2 {
  animation: 6s show-slow2 ease;
}

@keyframes show-slow2 {
  from { opacity: 0; }
  to { opacity: 1; }
}
