header {
    background-color: #D2D2D2;
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0;
    box-shadow: 0 0px 16px 0 rgba(0,0,0,0.63);
    -webkit-box-shadow: 0 0px 16px 0 rgba(0,0,0,0.63);
    -moz-box-shadow: 0 0px 16px 0 rgba(0,0,0,0.63);
}

.header {
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.header .logo {
    flex: 1;
}

.header .logo svg:hover {
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .header {
        height: 70px;
    }
    .header .logo svg {
        width: 67px;
    }
    nav {
        font-size: 15px !important;
    }
}

.burger {
    display: none;
    width: 17px;
    height: 13px;
}

@media screen and (max-width: 600px) {
    .header {
        height: 40px;
        padding: 0 10px;
    }
    nav {
        display: none !important;
    }
    .burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .burger .line {
        width: 100%;
        height: 3px;
        background-color: #868686;
    }
}

nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    flex: 0.7;
    gap: 20px;
}

nav .link {
    color: #5F5F5F;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
    position: relative;
}

nav .link.active:before {
    animation: 0.5s draw-slow ease !important;
}

nav .link.active:before, nav .link.active:hover:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 70%;
    border-bottom: 2px solid #3C3C3C;
    animation: none;
}

nav .link:hover:before {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 70%;
    border-bottom: 2px solid #8D8D8D;
    animation: 0.5s draw-slow ease;
}

@keyframes draw-slow {
    from { width: 0; }
    to { width: 70%; }
}
